extends layout.pug

block head
  meta(charset='utf-8')
  title FRIB Cables
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href=basePath + '/stylesheets/style.css')
  script(type='text/javascript', src=basePath + '/dist/all-cables.js')

block content
  .container-fluid(style='margin-top: 10px')
    #message
    .modal.hide.fade#modal(tabindex='-1', role='dialog', data-backdrop='static', aria-labelledby='modalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h3#modalLabel
          .modal-body
          .modal-footer
    .row.m-2
      .btn-toolbar
        .btn-group.mr-2
          button.btn.btn-primary#reload(type='button')
            i.fa.fa-sync.fa-lg
            | &nbsp;Reload
        .btn-group.mr-2
          button.btn.btn-primary#bar(type='button')
            i.fa.fa-chart-bar.fa-lg
            | &nbsp;Bar Chart
        .btn-group.btn-group-toggle.mr-2(data-toggle='buttons')
          label.btn.btn-info.active Wrap
            input#all-wrap(type='radio', autocomplete='off', checked)
          label.btn.btn-info Unwrap
            input#all-unwrap(type='radio', autocomplete='off')
        .btn-group.mr-2
          a.btn.btn-info#gotobottom(href='#gototop')
            i.fa.fa-arrow-down.fa-lg
            | &nbsp;Jump to Bottom
    .row.m-2
      .col
        table.table.table-bordered.table-hover#all-cable
    .row.m-2
      .btn-toolbar
        .btn-group.mr-2
          a.btn.btn-info#gototop(href='#gotobottom')
            i.fa.fa-arrow-up.fa-lg
            | &nbsp;Jump to Top
