extends layout.pug

block head
  meta(charset='utf-8')
  title FRIB Cable types
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href=basePath + '/stylesheets/style.css')
  script(type='text/javascript', src=basePath + '/dist/cabletypes.js')


block content
  .container-fluid(style='margin-top: 10px')
    #message
    if (roles && roles.indexOf('admin') !== -1)
      .btn-toolbar
        .btn-group
          a.btn.btn-primary#manage(href=basePath + '/cabletypes/manage')
            i.fa.fa-edit.fa-lg
            | &nbsp;Manage Cable Types
    table.table.table-bordered.table-hover#cable-type
