doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', href=basePath + '/favicon.ico?v=1')
    script(type='text/javascript') var basePath = '#{basePath}';
    block head
  body
    nav.navbar.navbar-dark.bg-dark.navbar-expand-sm.fixed-top
      a.navbar-brand(href=basePath + '/') Cable
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.navbar-toggler-icon
      .navbar-collapse.collapse
        ul.navbar-nav.mr-auto
          //- li
          //-   a(href='https://controls.frib.msu.edu/', target='_blank') Controls
        ul.navbar-nav
          li
            a.nav-link(href=basePath + '/logout') Logout
      if webenv !== 'production'
        div.navbar-text.float-right.ml-3(style='background-color:red;color:black;') &nbsp;TEST&nbsp;

    #page
      block content

    block js
