extends layout.pug

block head
  meta(charset='utf-8')
  title FRIB Cable :: New Cable Type
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href=basePath + '/stylesheets/style.css')
  script(type='text/javascript', src=basePath + '/dist/newcabletype.js')

block content
  .container
    #message
    .modal.hide.fade#modal(tabindex='-1', role='dialog', data-backdrop='static', aria-labelledby='modalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h3#modalLabel
          .modal-body
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss='modal', aria-hidden='true') Close
    form(name='cabletype')
      .form-group.row
        h3 New Cable Type
      .form-group.row
        legend.border-bottom Naming
      .form-group.row
        label.col-form-label.col-sm-2.text-right(for='conductor-number') Conductor number
        .col-sm-4
          input.form-control#conductor-number(type='number', name='conductorNumber', min=1, required)
      .form-group.row
        label.col-form-label.col-sm-2.text-right(for='conductor-size') Conductor size
        .col-sm-4
          input.form-control#conductor-size(type='text', name='conductorSize', required)
      .form-group.row
        label.col-form-label.col-sm-2.text-right(for='frib-type') Type
        .col-sm-4
          select.form-control#frib-type(name='fribType')
            option 7-Pole
            option Multi
            option PwrAC
            option PwrDC
            option ArmPwrDC
            option Coax
            option Hardline
            option RigidLine
            option Cat6
            option TCtypeJ
            option TCtypeK
            option Sfib
            option SMfiber
            option MMfiber
            option PMMfiberRAD
            option Triax
      .form-group.row
        label.col-form-label.col-sm-2.text-right(for='type-number') Type number
        .col-sm-4
          input.form-control#type-number(type='text', placeholder='NNN', name='typeNumber', minlength=3, maxlength=3, required)
      .form-group.row
        label.col-form-label.col-sm-2.text-right(for='name') New type name
        .col-sm-4
          input.form-control#name(name='newName', type='text', disabled)
          span.form-control-static Generated from the above inputs
      form-group.row
        legend.border-bottom Details
      .form-group.row
        label.col-form-label.col-sm-2.text-right(for='service') Function/Service
        .col-sm-4
          input.form-control#service(type='text', name='service')
      .form-group.row
        label.col-form-label.col-sm-2.text-right(for='pairing') Pairing
        .col-sm-4
          select.form-control#pairing(name='pairing')
            option N/A
            option unpaired
            option twisted pair
            option triad
      .form-group.row
        label.col-form-label.col-sm-2.text-right(for='shielding') Shielding
        .col-sm-4
          select.form-control#shielding(name='shielding')
            option N/A
            option unshielded
            option overall shielded
            option individually shielded pairs
            option double-braided shield
            option single shielded (braid)
            option double shielded (braid)
            option overall shielded (foil) + TC braid
      .form-group.row
        label.col-from-label.col-sm-2.text-right(for='outer-diameter') O.D. (max)
        .col-sm-4
          input.form-control#outer-diameter(type='text', name='outerDiameter')
      .form-group.row
        label.col-from-label.col-sm-2.text-right(for='voltage-rating') Voltage Rating (V)
        .col-sm-4
          input.form-control#voltage-rating(type='text', name='voltageRating')
      .form-group.row
        label.col-form-label.col-sm-2.text-right(for='raceway') Raceway
        .col-sm-4
          select.form-control#raceway(name='raceway')
            option N/A
            option Cable Tray, Conduit
      .form-group.row
        label.col-form-label.col-sm-2.text-right(for='tunnel-hotcell') Tunnel/HotCell Usage
        .col-sm-4
          label
            input.form-control#tunnel-hotcell(type='checkbox', name='tunnelHotcell')
      .form-group.row
        label.col-form-label.col-sm-2.text-right(for='manufacturer') Manufacturer
        .col-sm-4
          input.form-control#manufacturer(type='text', name='manufacturer')
      .form-group.row
        label.col-form-label.col-sm-2.text-right(for='partNumber') Part Number
        .col-sm-4
          input.form-control#partNumber(type='text', name='partNumber')
      .form-group.row
        label.col-form-label.col-sm-2.text-right Other requirements
        .col-sm-4
          textarea.form-control(name='otherRequirements')
      .form-group.bg-light.p-3
        .btn-group.mr-2
          button.btn.btn-primary#submit(type='submit', name='action') Submit
        .btn-group.mr-2
          button.btn.btn-warning#reset(type='reset', name='reset') Reset
