.form-actions
  .btn-group.hide
    button.btn.btn-info#save(type='button') Save changes
  .btn-group.hide
    button.btn.btn-primary#submit(type='submit') Submit
  .btn-group.hide
    button.btn.btn-warning#reset(type='button') Reset
  if (locals.roles && roles.length && roles.indexOf('manager') !== -1)
    .btn-group.hide
      button.btn.btn-info#adjust(type='button') Save adjustment
  if (locals.roles && roles.length && roles.indexOf('manager') !== -1)
    .btn-group.hide
      button.btn.btn-warning#reject(type='button') Reject
  if (locals.roles && roles.length && roles.indexOf('manager') !== -1)
    .btn-group.hide
      button.btn.btn-primary#approve(type='submit') Approve
  if (!(locals.id === undefined))
    .btn-group
      button.btn.btn-primary#clone(type='button') Clone
