extends layout.pug

block head
  meta(charset='utf-8')
  title Import Requests :: Cable
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href=basePath + '/stylesheets/style.css')
  script var categories = !{JSON.stringify(categories)};
  script(type='text/javascript', src=basePath + '/dist/request-import.js')
block content
  .container-fluid
    #message
    .modal.hide.fade#modal(tabindex='-1', role='dialog', data-backdrop='static', aria-labelledby='modalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h3#modalLabel
          .modal-body
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss='modal', aria-hidden='true') Return to edit
    .row.m-2
      .card.card-body.bg-light
        h3 New Cable Requests
        span Select a data file (Please use this <a href='#{basePath}/docs/Cable_Requests.xlsx'>template</a>)
        form.form-inline#request-import-form
          .form-group.mr-3
            //- label(for='request-import-file') Data File
            input.form-control-file#request-import-file(type='file', name='data', accept='.xlsx', required)
          if auth && auth.hasAnyRole('validator')
            .form-group.form-check.mr-2
              input.form-check-input#request-import-validated(type='checkbox', name='validated')
              label.form-check-label(for='request-import-validated') Validated
          .btn-toolbar
            button.btn.btn-primary.mr-2#request-import-submit(type='submit') Import
            //- button.btn.btn-secondary.mr-2#request-import-cancel(type='button') Cancel
    .row.m-2#request-review(hidden)
      .table-overflow
        table.table.table-bordered.table-hover#request-review-table
      .form-group
        button.btn.btn-primary.mr-2#request-review-submit(type='submit', disabled) Submit
        button.btn.btn-secondary.mr-2#request-review-cancel(type='button') Cancel
