extends layout.pug

block head
  meta(charset='utf-8')
  title FRIB Cable user management
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href=basePath + '/stylesheets/style.css')
  script(type='text/javascript', src=basePath + '/dist/users.js')

block content
  .container
    .row
      .card.card-body.bg-light
        form.form-inline
          .form-group.mr-2
            input.form-control.typeahead#username(type='text', placeholder='Last, First', name='name')
          .form-group.mr-2
            input.form-check-input#manager(type='checkbox', value='manager') 
            label.form-check-label(for='manager') manager
          .form-group.mr-2
            input.form-check-input#admin(type='checkbox', value='admin')
            label.form-check-label(for='admin') admin
          button.btn.btn-primary#add(type='submit') Add

    #message
    .modal.hide.fade#modal(tabindex='-1', role='dialog', data-backdrop='static', aria-labelledby='modalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h3#modalLabel
          .modal-body
          .modal-footer

    .row.mt-2
      h3 User list
    .row
      .btn-toolbar
        .btn-group.mr-2
          button.btn.btn-info#user-reload(type='button')
            i.fa.fa-sync.fa-lg
            | &nbsp;Reload Users
        .btn-group.mr-2
          button.btn.btn-info#user-modify(type='button')
            i.fa.fa-wrench.fa-lg
            | &nbsp;Modify role
        .btn-group.mr-2
          button.btn.btn-warning#user-update(type='button')
            i.fa.fa-wrench.fa-lg
            | &nbsp;Update profile from AD
    .row
      table.table.table-bordered.table-hover#users
